<section class="card">
  <div class="card-header text-uppercase">login</div>
  <form class="card-body">
    <div>
      <label for="email-login" class="form-label">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login" class="form-label">password:</label>
      <input type="password" id="password-login" />
    </div>
    <a href="/create">Not having an ID yet?</a>
    <div>
      <button type="submit" class="btn">login</button>
    </div>
  </form>
</section>

<script src="/javascript/login.js"></script>